<ion-view ng-controller="displayCtrl">
    <ion-content>
        <div>
            <button class="button icon ion-arrow-left-c" ng-click="back()"></button>
            <br>
            <div class="list">
                <div class="item">First Name : {{detail.firstName}}</div>
                <div class="item">Middle Name : {{detail.middleName}}</div>
                <div class="item">Last Name : {{detail.lastName}}</div>
                <div class="item">year of birth : {{detail.yob}}</div>
                <div class="item">PIN : {{detail.pin}}</div>
                <div class="item">suburb : {{detail.suburb}}</div>
                <div class="item">gothra : {{detail.gothra}}</div>
                <div class="item">veda : {{detail.veda}}</div>
                <div class="item">Education : {{detail.education}}</div>
                <div class="item">occupation : {{detail.occupation}}</div>
                <div class="item">hobbies : {{detail.hobbies}}</div>
                <div class="item">maritalstatus : {{detail.maritalStatus}}</div>
                <div class="item">no.ofsons : {{detail.numOfSons}}</div>
                <div class="item">no.ofdaughters : {{detail.numOfDaughters}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>
